asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4"
autobahn==24.4.2 ; python_version >= "3.12" and python_version < "4"
automat==24.8.1 ; python_version >= "3.12" and python_version < "4"
black==25.1.0 ; python_version >= "3.12" and python_version < "4"
cachecontrol==0.14.3 ; python_version >= "3.12" and python_version < "4"
cachetools==5.5.2 ; python_version >= "3.12" and python_version < "4"
certifi==2025.4.26 ; python_version >= "3.12" and python_version < "4"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4" and platform_python_implementation != "PyPy"
channels-redis==4.2.1 ; python_version >= "3.12" and python_version < "4"
channels==4.2.0 ; python_version >= "3.12" and python_version < "4"
charset-normalizer==3.4.2 ; python_version >= "3.12" and python_version < "4"
click==8.1.8 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and platform_system == "Windows"
constantly==23.10.4 ; python_version >= "3.12" and python_version < "4"
cryptography==44.0.2 ; python_version >= "3.12" and python_version < "4"
daphne==4.1.2 ; python_version >= "3.12" and python_version < "4"
django-cors-headers==4.7.0 ; python_version >= "3.12" and python_version < "4"
django-environ==0.12.0 ; python_version >= "3.12" and python_version < "4"
django==5.1.6 ; python_version >= "3.12" and python_version < "4"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4"
firebase-admin==6.8.0 ; python_version >= "3.12" and python_version < "4"
google-api-core==2.24.2 ; python_version >= "3.12" and python_version < "4"
google-api-python-client==2.169.0 ; python_version >= "3.12" and python_version < "4"
google-auth-httplib2==0.2.0 ; python_version >= "3.12" and python_version < "4"
google-auth==2.40.1 ; python_version >= "3.12" and python_version < "4"
google-cloud-core==2.4.3 ; python_version >= "3.12" and python_version < "4"
google-cloud-firestore==2.20.2 ; python_version >= "3.12" and python_version < "4" and platform_python_implementation != "PyPy"
google-cloud-storage==3.1.0 ; python_version >= "3.12" and python_version < "4"
google-crc32c==1.7.1 ; python_version >= "3.12" and python_version < "4"
google-resumable-media==2.7.2 ; python_version >= "3.12" and python_version < "4"
googleapis-common-protos==1.70.0 ; python_version >= "3.12" and python_version < "4"
grpcio-status==1.71.0 ; python_version >= "3.12" and python_version < "4" and platform_python_implementation != "PyPy"
grpcio==1.71.0 ; python_version >= "3.12" and python_version < "4" and platform_python_implementation != "PyPy"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "4"
hyperlink==21.0.0 ; python_version >= "3.12" and python_version < "4"
idna==3.10 ; python_version >= "3.12" and python_version < "4"
incremental==24.7.2 ; python_version >= "3.12" and python_version < "4"
msgpack==1.1.0 ; python_version >= "3.12" and python_version < "4"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4"
packaging==24.2 ; python_version >= "3.12" and python_version < "4"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4"
platformdirs==4.3.7 ; python_version >= "3.12" and python_version < "4"
proto-plus==1.26.1 ; python_version >= "3.12" and python_version < "4"
protobuf==5.29.4 ; python_version >= "3.12" and python_version < "4"
psycopg-binary==3.2.6 ; python_version >= "3.12" and python_version < "4" and implementation_name != "pypy"
psycopg==3.2.6 ; python_version >= "3.12" and python_version < "4"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4" and platform_python_implementation != "PyPy"
pyjwt==2.10.1 ; python_version >= "3.12" and python_version < "4"
pyopenssl==25.0.0 ; python_version >= "3.12" and python_version < "4"
pyparsing==3.2.3 ; python_version >= "3.12" and python_version < "4"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4"
redis==5.2.1 ; python_version >= "3.12" and python_version < "4"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "4"
service-identity==24.2.0 ; python_version >= "3.12" and python_version < "4"
setuptools==78.1.0 ; python_version >= "3.12" and python_version < "4"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4"
twisted==24.11.0 ; python_version >= "3.12" and python_version < "4"
txaio==23.1.1 ; python_version >= "3.12" and python_version < "4"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "4"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "4"
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "4"
whitenoise==6.9.0 ; python_version >= "3.12" and python_version < "4"
zope-interface==7.2 ; python_version >= "3.12" and python_version < "4"
